.logo-wrapper {
  float:left;
  margin:1em;
  margin-left: -100%;
  width:150px;

  .logo {
    background: transparent url("../img/logo_white.png") 0 0 no-repeat;
    background-size: 150px 150px;
    width:150px;
    height:150px;
  }
}

.navigation {
  float:left;
  display:block;
  width:100%;
  margin-left:0;
  margin-top:93px;

  ul {
    padding:0;
    margin:0;
    margin-left: 150px;
    list-style-type: none;
    background:#FFF;
    .clearfix();

    li {
      float:left;
      padding:.5em 1em;

      a {
        text-decoration: none;
        font-size:1.25em;
        color:black;
        font-weight: bold;
      }
    }
  }
}
